.stars {
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    svg {
        width: 14px;
        height: 14px;
        display: block;
    }
}

.cover {
    background: white;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
}
