
<div class="container-manage-booking"  style="width: 1170px;margin: 0 auto">
  <div class="header-booking">
    Tổng quan đánh giá
  </div>
  <div class="mat-elevation-z8 table-incomplete" style="box-shadow: none; border: 1px solid #cdd7eb;border-radius: 8px;">
    <table mat-table [dataSource]="dataSource" style="width: 100%;box-shadow: none">


      <!-- Weight Column -->
      <ng-container matColumnDef="Nội dung">
        <th mat-header-cell *matHeaderCellDef  style="width: 20%;text-align: center" >Nội dung</th>
        <td mat-cell *matCellDef="let element" style="width: 20%;text-align: center" > {{element.content}}  </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Sao">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center" >Sao</th>
        <td mat-cell *matCellDef="let element"style="width: 20%;text-align: center" > {{element.points}}  </td>
      </ng-container>
      <ng-container matColumnDef="Tiêu đề">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center" >Tiêu đề</th>
        <td mat-cell *matCellDef="let element"style="width: 20%;text-align: center" > {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="Ngày">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center" >Ngày</th>
        <td mat-cell *matCellDef="let element"style="width: 20%;text-align: center" > {{element.updateDate}} </td>
      </ng-container>
      <ng-container matColumnDef="Khách sạn">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center" >Khách sạn</th>
        <td mat-cell *matCellDef="let element"style="width: 20%;text-align: center" > {{element.hotelId}} </td>
      </ng-container>
      <ng-container matColumnDef="Bởi">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;text-align: center" >Bởi</th>
        <td mat-cell *matCellDef="let element"style="width: 20%;text-align: center" > {{element.username}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

