<app-customer-header></app-customer-header>


<div style="display: flex; justify-content: space-around;padding: 10px 0;background: #f5f5f5">
  <a routerLink="create" style="color: #5390f9;border: 1px solid #5390f9 ;padding: 10px 15px;border-radius: 10px">Tạo hồ sơ khách sạn</a>
  <a routerLink="manage-booking" style="color: #5390f9;border: 1px solid #5390f9 ;padding: 10px 15px;border-radius: 10px">Quản lí trạng thái đặt phòng</a>
  <a routerLink="review-customer" style="color: #5390f9;border: 1px solid #5390f9 ;padding: 10px 15px;border-radius: 10px">Đánh giá từ khách hàng</a>

</div>
<router-outlet></router-outlet>

