.home-banner {
    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
}

.home-banner .home-banner__background-image {
    width: 100%;
    height: 320px;
    position: absolute;
    z-index: -1;
}

.home-banner .home-banner__background-image::before {
    background-image: url(https://cdn6.agoda.net/images/MVC/default/background_image/illustrations/bg-agoda-homepage.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;

}

.banner-filter-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    position: relative;
}

.banner-filter-container .welcome-message {
    color: #fff;
    text-align: center;
}

.banner-filter-container .welcome-message h2 {
    text-transform: uppercase;
}

.banner-filter-container .welcome-message p {
    font-size: 2rem;
    font-weight: 500;
}

.home-banner .banner_filter {
    position: relative;
}

.home-banner .tab-list {
    height: 88px;
    width: 90%;
    background-color: #fff;
    display: flex;
    padding: 0 64px;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
}

.home-banner .tab-list .tab-item {
    flex: 1;
    color: #4B4F56;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.home-banner .tab-list .tab-item.active {
    color: var(--primary-color)
}

.home-banner .tab-list .tab-item.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--primary-color);
    border-bottom: 4px solid var(--primary-color);
}

::ng-deep .home-banner .tab-list .tab-item svg.svg-bh {
    width: 34px;
    height: 34px;

}

.home-banner .banner_filter .tab-content {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
    margin-top: -16px;
    padding: 64px 48px;
    background-color: #F8F7F9;
}

.home-banner .banner_filter .search__wrapper {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
}

.home-banner .banner_filter .search__wrapper button:disabled {
    background-color: #ddd;
    color: #fff;
    cursor: not-allowed;
}
.home-banner .banner_filter .search__wrapper button {
    width: 490px;
    height: 64px;
    font-size: 2rem;
}
#line-form__search{
    z-index: 1002;
}
#line-form__search #autocomplete-search{
    position: absolute;
    left: -1px;
    right: 0;
    width: calc(100% + 2px);
    top: calc(100% + 20px);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
#line-form__search #autocomplete-search li{
    padding: 20px;
}
#line-form__search #autocomplete-search li:hover{
    background-color: var(--primary-color);
    color: #fff;
}
#line-form__search #autocomplete-search li:hover span{
    color: #fff;
}
#line-form__search #autocomplete-search li:last-child{
    margin-bottom: unset;
}
#line-form__search #autocomplete-search .icon{
    margin-right: 10px;
}
#line-form__search #autocomplete-search i{
    font-size: 1.8rem;
}
#line-form__search #autocomplete-search li p{
    font-size: 1.4rem;
    margin: 0;
    line-height: 1.4rem;
}
#line-form__search #autocomplete-search li span{
    font-size: 1.2rem;
    color: #a9a9a9;
}

/* Mobile */
@media (max-width: 767px) {
    /* CSS cho màn hình nhỏ hơn hoặc bằng 767px (mobile) */
    .home-banner .banner_filter .search__wrapper button{
        width: 350px;
    }
  }
  
  /* Tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
    /* CSS cho màn hình từ 768px đến 1023px (tablet) */
   
  }
  
  /* PC */
  @media (min-width: 1024px) {
    /* CSS cho màn hình lớn hơn hoặc bằng 1024px (PC) */
    
  }